.Footer_Logo{
  width: 200px !important;
}
.footer_color{
  background-color: #3B4250 !important;
}
.Footer_heading_Links {
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
  line-height: 20px;
}
.footer_content{
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
  line-height: 20px;
}
.Footer_heading_Links_contact {
  font-size: 22px;
  color: #fff;
  padding-bottom: 5px;
  line-height: 20px;
  font-weight: 600;
}
.contact_color{
  color: #ff4605 !important;
}
.Footer_heading_Links:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #ff4605 !important;
}
